<div style="margin-top: 100px">
  <h2>{{ raceModel.name }}</h2>
  <p>{{ raceModel.startInstant | fromNow}}</p>
    <div class="row">
      <div class="col-12 col-md-2" *ngFor="let pony of raceModel.ponies" [ngClass]="{'selected': isPonySelected(pony)}">
        <pr-pony [ponyModel]="pony" (ponyClicked)="betOnPony(pony)"></pr-pony>
      </div>
    </div>
    <a href="" [routerLink]="['/races', raceModel.id, 'live']">
      Watch live!
    </a>
    <ngb-alert type="danger" *ngIf="betFailed" (close)="betFailed = false">
      The race is already started or finished
    </ngb-alert>
</div>
